{% extends "blog/base.html" %}
{% block content %}
<style>
  /*References
https://www.w3schools.com/howto/howto_css_flip_card.asp
*/
/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
html{
  min-height: 100%;
  overflow: hidden;
}
body{
  height: calc(100vh - 8em);
  padding: 4em;
  color: rgba(255,255,255,.75);
  font-family: Trebuchet MS;
  background-color:#990033;  
}
.line-1{
    position: relative;
    top: 10%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-100%); 
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
.vertical-menu {
  width: 600px; /* Set a width if you like */
  padding-left:100px;
  
}

.vertical-menu a {
 
  display: block;
  color: white;
  text-decoration: none;
  transition: color 0.2s;
  font-family: Trebuchet MS;
  font-size: 25px;
  text-transform: uppercase;
  padding: 10px 0;

}
.vertical-menu a.active {
  background-color: #4CAF50; /* Add a green color to the "active/current" link */
  
}
br {
    line-height: 2px;
 }
  /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  border-radius: 25px;
  width: 300px;
  height: 170px;
  border: 1px solid white;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */

  border-width: 10px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  border-radius: 25px;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  text-align: center;
  position: absolute;
  width: 100%;
  border-radius: 25px;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  padding-top:50px;
  text-align: center;
  background-color: white ;
  border-radius: 25px;
  border-width: thick;
  color: black;
}

/* Style the back side */
.flip-card-back {
  padding-top:30px;
  padding-left:20px;
  padding-right:20px;
  background-color: white;
  color: black;
  border-radius: 25px;
  border-color:white;
  border-width: thick;
  transform: rotateY(180deg);
}  

    
ol{text-align:center;}
ol li{display:inline;padding-right:1em;}
ol li a{color:white;}
    .typewriter h1 {
      color: white;
      font-family: monospace;
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      border-right: .15em solid orange; /* The typwriter cursor */
      white-space: nowrap; /* Keeps the content on a single line */
      margin: 0 auto; /* Gives that scrolling effect as the typing happens */
      letter-spacing: .15em; /* Adjust as needed */
      animation: 
        typing 3.5s steps(30, end),
        blink-caret .5s step-end infinite;
    }

</style>
<p class="line-1 anim-typewriter">Pick a Restaurant</p>



  <div class="vertical-menu">
    <ul>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        
            
      <li><a href="{% url 'creationx' %}">Creation X</a></li>
      <li><a href="{% url 'order' %}">Eggcetera</a></li>
      <li><a href="{% url 'order' %}">Pizza Pizza</a></li>
      <li><a href="{% url 'order' %}">Global Delights</a></li>
      <li><a href="{% url 'order' %}">Zen Den</a></li>
      <li><a href="{% url 'order' %}">Hammertown</a></li>
    </ul>
  </div>
{% endblock content %}
{% block sidebar %}
<!-- Sidebar Widgets Column -->

<div class="col-md-4 float-right ">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
              <h1> Hot Items
                </h1>
          </div>
          <div class="flip-card-back">
              <br style="line-height: 5px" />
              <p class="card-text"> Check out the most popular items!</p>
              <a href="{% url 'hotitems' %}"
              class="btn btn-danger">Hot Items</a>
          </div>
        </div>
      </div>
      <p>&nbsp;</p>
      <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                  <h1> For You
                    </h1>
              </div>
              <div class="flip-card-back">
                  <br style="line-height: 5px" />
                  <p class="card-text"> Items recommeneded for you!</p>
                  <a href="{% url 'foryou' %}"
                  class="btn btn-danger">For You</a>
              </div>
            </div>
          </div>
    </div>

  
  {% endblock sidebar %}